main .container {
  background-color: aquamarine;
  width: 1300px;
  margin: 30px auto;
}
main .container .tab {
  background-color: #D8A08F;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  position: relative;
}
main .container .tab a {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #fff;
  padding: 20px;
  width: 100%;
}
main .container .tab a:first-child {
  background-color: #fff;
  font-weight: 700;
  color: #B05C59;
}
main .container .tab a:first-child::before {
  content: "";
  display: inline;
  width: 12.5%;
  height: 4px;
  position: absolute;
  top: -3px;
  left: 0;
  border-top: 5px solid #B05C59;
}
main .container .tab_contents {
  background-color: pink;
}
main .container .tab_contents .tab1 {
  background-color: antiquewhite;
  display: flex;
  height: 300px;
}
main .container .tab_contents .tab1 > * {
  text-align: center;
}
main .container .tab_contents .tab1 .big {
  background: lightblue;
  width: 780px;
  position: relative;
}
main .container .tab_contents .tab1 .big .big_pic {
  display: block;
  background: url(../images/925e00e115701f52726bd4c38edee62c.jpg) no-repeat;
  background-size: cover;
  height: 100%;
}
main .container .tab_contents .tab1 .big .big_pic span:first-child {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
}
main .container .tab_contents .tab1 .big .big_pic .text {
  display: block;
  width: 100%;
  font-size: 0.9rem;
  letter-spacing: -0.02em;
  color: #fff;
  position: relative;
  z-index: 999;
  padding-top: 100px;
}
main .container .tab_contents .tab1 .big .big_pic span {
  opacity: 0;
}
main .container .tab_contents .tab1 .small {
  background: lightsalmon;
  width: 520px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}
main .container .tab_contents .tab1 .small .pic {
  display: block;
  width: 33.3%;
}
main .container .tab_contents .tab1 .small .pic span:first-child {
  width: 33.3%;
  height: 50%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
}
main .container .tab_contents .tab1 .small .pic .text {
  display: block;
  width: 100%;
  font-size: 0.9rem;
  letter-spacing: -0.02em;
  color: #fff;
  position: relative;
  z-index: 999;
  padding-top: 50px;
}
main .container .tab_contents .tab1 .small .pic span {
  opacity: 0;
}
main .container .tab_contents .tab1 .small .pic1 {
  background: url(../images/6813e0b4f67103a4b2fd930127e9e6a4.jpg);
  background-size: cover;
}
main .container .tab_contents .tab1 .small .pic2 {
  background: url(../images/8342a141fee8f450d8cf958c02fd4df4.jpg);
  background-size: cover;
}
main .container .tab_contents .tab1 .small .pic3 {
  background: url(../images/986e01b804d091e939001f493d20fec7.jpg);
  background-size: cover;
}
main .container .tab_contents .tab1 .small .pic4 {
  background: url(../images/55761ae82b4cad76d8a2bcd380edd3bd.jpg);
  background-size: cover;
}
main .container .tab_contents .tab1 .small .pic5 {
  background: url(../images/02725e76afedc00bcb27046d7cfee3c3.jpg);
  background-size: cover;
}
main .container .tab_contents .tab1 .small .pic6 {
  background: url(../images/d3da39478faf148e16cd38a73ec2ef69.jpg);
  background-size: cover;
}
main .container .tab_contents .tab2, main .container .tab_contents .tab3, main .container .tab_contents .tab4, main .container .tab_contents .tab5, main .container .tab_contents .tab6, main .container .tab_contents .tab7, main .container .tab_contents .tab8 {
  background-color: aqua;
  padding: 100px;
  display: none;
}/*# sourceMappingURL=main.css.map */