$point1 :#B05C59;
$point2 : #D8A08F;
$colorW: #fff;

@mixin fontStyle {
    font-size:0.9rem; letter-spacing:-0.02em; color:$colorW;
}
// 임시 넓이 width:1300px; width:780px 520px

main {
    .container{
        background-color: aquamarine;
        width:1300px; margin:30px auto; // 여기서 마진값은 임의값
        .tab {
            background-color:$point2;
            width:100%;
            text-align: center;
            display:flex; justify-content:space-around;
            position:relative;
            a {
                text-transform:uppercase; font-size:0.9rem; color:$colorW;  
                padding:20px; 
                width:100%;
                // width:170px; height:50px; line-height: 50px;
            }
            a:first-child {
                background-color: $colorW; font-weight:700; color:$point1;
            }
            a:first-child::before {
                content:''; display:inline; width:12.5%; height:4px; 
                // background-color: #B05C59;
                position:absolute; top:-3px; left:0; border-top:5px solid $point1;
            }
        }//e:.tab 
        .tab_contents {
            background-color: pink;
            .tab1 {
                background-color: antiquewhite;
                display:flex;
                height:300px;
                > * { text-align: center;}
                .big {
                    background: lightblue;
                    width:780px;
                    // width:60%;
                    position:relative;
                    .big_pic {
                        display:block;
                        background:url(../images/925e00e115701f52726bd4c38edee62c.jpg) no-repeat;
                        background-size:cover; height:100%;
                        span:first-child {
                            width:100%; height:100%; background:rgba(0,0,0,0.5);
                            position:absolute; left:0; top:0;
                        }
                        .text {
                            display:block;
                            width:100%;
                            @include fontStyle; position:relative; z-index: 999;
                            padding-top:100px;
                        }
                        span {opacity:0;}
                    }
                }
                .small {
                    background: lightsalmon;
                    // width:calc(100% - 780px);
                    width:520px;
                    // width:40%;
                    display:flex;
                    flex-flow:row wrap;
                    position:relative;
                    .pic {
                        display:block;
                        // width:calc(100% - 173px);
                        width:33.3%;
                        span:first-child {
                            width:33.3%; height:50%;
                            background:rgba(0,0,0,0.3);
                            position:absolute; left:0; top:0;
                        }
                        .text {
                            display:block;
                            width:100%;
                            @include fontStyle; position:relative; z-index: 999;
                            padding-top:50px;
                        }
                        span {opacity:0;}
                    }
                    .pic1 {
                        background: url(../images/6813e0b4f67103a4b2fd930127e9e6a4.jpg);
                        background-size:cover;
                        // span:first-child {
                        //     width:33.3%; height:50%;
                        //     background:rgba(0,0,0,0.3);
                        //     position:absolute; left:0; top:0;
                        // }
                    }
                    .pic2 {
                        background: url(../images/8342a141fee8f450d8cf958c02fd4df4.jpg);
                        background-size:cover; 
                        
                    }
                    .pic3 {
                        background: url(../images/986e01b804d091e939001f493d20fec7.jpg);
                        background-size:cover;
                        
                    }
                    .pic4 {
                        background: url(../images/55761ae82b4cad76d8a2bcd380edd3bd.jpg);
                        background-size:cover;
                        
                    }
                    .pic5 {
                        background: url(../images/02725e76afedc00bcb27046d7cfee3c3.jpg);
                        background-size:cover;
                        
                    }
                    .pic6 {
                        background: url(../images/d3da39478faf148e16cd38a73ec2ef69.jpg);
                        background-size:cover;
                        
                    }
                }
                
            }
            .tab2, .tab3, .tab4, .tab5, .tab6, .tab7, .tab8 {background-color: aqua; padding:100px; display:none;}
        }//e:tab_contents
    }//e:container
}